<% content_for :title, t('.title') %>

<h1><%= t('.title') %></h1>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to t('common.show'), @category %> |
  <%= link_to t('categories.index.title'), categories_path %> 
</div>